{{define "forum"}}
<html>
  {{template "head"}}
  <body>
    {{template "page-header" .}}
    <div id="page-main">
      <style>
        #message {
          display: grid;
          grid-template-areas:
            "author message"
            "time message";
          /* grid-template-rows: 1fr 1fr; */
          grid-template-columns: 200px 1fr;
          border: 1px solid var(--background-1);
          background: var(--background-3);
          border-radius: 10px;
          margin-bottom: 10px;
        }
        #message-author {
          grid-area: author;
          text-align: center;
          padding: 5px;
        }
        #message-message {
          grid-area: message;
          text-align: left;
          padding: 10px 5px;
          border-left: 5px solid var(--background-1);
        }
        #message-time {
          grid-area: time;
          text-align: center;
          padding: 5px;
        }
      </style>
      <span style="font-size: larger; font-weight: bolder">
        {{.Data.Forum.Name}}
      </span>
      <br />
      <i> создал <b>{{.Data.Forum.Creator.LoginRaw}}</b></i>
      <hr />
      <div style="padding: 5px">{{template "paginator" .Data}}</div>
      {{range .Data.Messages}}
      <div id="message">
        <span id="message-author">{{.Sender.LoginRaw}}</span>
        <div id="message-message">
          <pre>{{.Message}}</pre>
          {{if len .Attachments | ne 0}}
          <details>
            <summary>Прикрипленные файлы</summary>
            {{range .Attachments}}
            <a href="/file?id={{.ID}}">
              {{if .IsImage}}
              <img
                src="/file?id={{.ID}}"
                alt="{{.Name}}"
                style="max-width: 500px; max-height: 500px"
              />
              {{else}}
              <span>{{.Name}}</span>
              {{end}}
            </a>
            {{end}}
          </details>
          {{end}}
        </div>
        <span id="message-time">
          {{.Sended.Format "2006-01-02"}}<br />
          {{.Sended.Format "15:04:05"}}
        </span>
      </div>
      {{end}} {{if gt .Account.ID 0 | and .Data.LastPage}}
      <form
        method="POST"
        action="/forum/new-message"
        enctype="multipart/form-data"
      >
        <label>Создание нового сообщения</label><br />
        <input value="{{.Data.ForumID}}" name="forum-id" type="hidden" />
        <input value="{{.Data.Page}}" name="page" type="hidden" />
        <textarea
          name="message"
          placeholder="текст сообщения"
          style="width: 500px; height: 100px"
        ></textarea>
        <br />
        <input name="file" type="file" multiple />
        <br />
        <input value="Отправить" name="submit" type="submit" />
      </form>
      {{end}}
      <div style="padding: 5px">{{template "paginator" .Data}}</div>
    </div>
    {{template "page-footer" .}}
  </body>
</html>
{{end}}
