{{define "main"}}
<html>
  {{template "head"}}
  <body>
    {{template "page-header" .}}
    <div id="page-main">
      <style>
        #forums {
          display: grid;
          grid-template-areas:
            "author name"
            "count read";
          /* grid-template-rows: 1fr 1fr; */
          grid-template-columns: 200px 1fr;
          background: var(--background-2);
          border: 1px solid var(--background-1);
          border-radius: 10px;
          margin-bottom: 10px;
        }
        #forums-author {
          grid-area: author;
          text-align: center;
          padding: 5px;
        }
        #forums-name {
          grid-area: name;
          padding: 5px;
        }
        #forums-count {
          grid-area: count;
          text-align: center;
          padding: 5px;
        }
        #forums-read {
          grid-area: read;
          padding: 5px;
        }
      </style>
      <div style="margin-left: 10%; width: 80%">
        <form method="POST" action="/forum/new">
          <label>Создание нового форума</label>
          <input value="" name="name" placeholder="Название форума" />
          <input value="Создать" name="submit" type="submit" />
        </form>
        {{range .Data.Forums}}
        <div id="forums">
          <span id="forums-author">создал <b>{{.Creator.LoginRaw}}</b></span>
          <span id="forums-name">{{.Name}}</span>
          <span id="forums-count">{{.MessageCount}} сообщений</span>
          <span id="forums-read"><a href="/forum/{{.ID}}">Читать</a></span>
        </div>
        {{end}}
        <div style="padding: 5px">{{template "paginator" .Data}}</div>
      </div>
    </div>
    {{template "page-footer" .}}
  </body>
</html>
{{end}}
