{{define "registration"}}
<html>
  {{template "head"}}
  <body>
    {{template "page-header" .}}
    <div id="page-main" style="text-align: center">
      <form method="POST" action="/account/new">
        <label>Регистрация</label><br />
        <input value="" name="login" placeholder="Логин" /><br />
        <input
          value=""
          type="password"
          name="password"
          placeholder="Пароль"
        /><br />
        <input value="Зарегистрироваться" name="submit" type="submit" />
      </form>
    </div>
    {{template "page-footer" .}}
  </body>
</html>
{{end}}
